
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@layer base {
  :root {
    /* Light mode */
    --bg: #f6f8fa;
    --card-bg: #ffffff;
    --text-primary: #1f2328;
    --text-secondary: #656d76;
    --text-trinary: #8b949e;
    --primary: #162230;
    --accent: #364454;
    --border: #d0d7de;
    --success: #1a7f37;
    --error: #cf222e;
    --login-bg: #18345E;
  }

  .dark {
    /* Dark mode */
    --bg: #0d1117;
    --card-bg: #161b22;
    --text-primary: #e6edf3;
    --text-secondary: #8b949e;
    --text-trinary: #dcdfe3;
    /* --primary: #2f81f7; */
    /* --accent: #388bfd; */
    --primary: #13908a;
    --accent: #199d96;
    --border: #30363d;
    --success: #2ea043;
    --error: #f85149;
    --login-bg: #18345E;
    --accent: #1e242a;


  }
  
  @theme inline{
    --breakpoint-1xl:48rem;
    --breakpoint-2xl: 90rem;
	  --breakpoint-3xl: 120rem;
	  --font-inter: 'Inter', ui-sans-serif, sans-serif;
    --color-bg-color: #f6f8fa;
    --color-text-primary: #1f2328;
    --color-secondary: #656d76;
    --color-trinary: #8b949e;
    --color-primary: #162230;
    --color-accent: #1e242a;
    --color-border: #d0d7de;
    --color-success: #1a7f37;
    --color-error: #cf222e;
    --color-login-bg: #18345E;
    --color-bg: #0d1117;
    --color-card-bg: #161b22;
    --color-2card: #131a23;
    --color-active: #1a6561;


  }
  
  body {
    @apply bg-[var(--bg)] text-[var(--text-primary)] transition-colors duration-300;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold text-[var(--text-primary)];
  }

  p, span, li {
    @apply text-[var(--text-secondary)];
  }

  a {
    @apply text-[var(--text-secondary)] hover:text-[var(--accent)] transition-colors;
  }

  button {
    @apply bg-[var(--primary)] text-white text-sm font-medium px-4 py-1.5 rounded-lg transition-colors hover:active:bg-[var(--primary-dark)];
  }

  input, textarea, select {
    @apply bg-[var(--card-bg)] border border-[var(--border)] text-[var(--text-primary)] rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[var(--primary)];
  }

  .card {
    @apply bg-[var(--card-bg)] border border-[var(--border)]  rounded-2xl shadow-lg p-4 sm:p-6 transition-all;
  }
}
